.movie-poster{
    width: 350px;
    object-fit: cover;
    height: 550px;
}
.movie{
    width: 350px;
   

}
.movie-list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.kii{
    display: flex;
    gap: 20px;
    padding-left: 80px;
}
.movie-form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 16px;
}
.adhi{
    background: linear-gradient(to right, #0062E6, #33AEFF);
}